@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    color: var(--darkSlateGrey);
}

body {
    background-color: var(--charcoalGrey);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    /*## Colors
    ### Primary
    */
    --tomato: hsl(4, 100%, 67%);
    /*
    ### Neutral*/
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --opacityGrey: rgba(146, 148, 160, 30%);
    --white: hsl(0, 0%, 100%);
}

.container {
    background-color: var(--white);
}

header {
    width: 100%;
    margin: auto;
}

header img {
    width: 100%;
}

.mobile-image {
    display: block;
}

.desktop-image {
    display: none;
}

main {
    max-width: 375px;
    width: 100%;
    padding: 25px;
    margin: auto;
}

section {
    width: 100%;
    padding: 7px 0px;
}

h1 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 21px;
    font-weight: 700;
}

h2 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 1.5;
    margin-bottom: 18px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 25px;
    display: flex;
}

li img {
    margin-right: 15px;
}

li span {
    display: block;
    margin-top: 0px;
    flex: 1;
}

form {
    position: relative;
}

.input-area {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
}

.form-title {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

.error {
    display: none;
    position: absolute;
    color: var(--tomato);
    width: 120px;
    height: 15px;
    right: 0;
    top: 3px;
    font-size: 12px;
    font-weight: 700;
}

.email-form {
    width: 100%;
    padding: 17px 22px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
    border-color: var(--opacityGrey);
    outline-color: var(--charcoalGrey);
}

.email-form::placeholder {
    color: var(--grey);
    opacity: 50;
}

.email-form:hover {
    cursor: pointer;
}

.submit-button {
    width: 100%;
    padding: 18px 0px;
    font-size: 16px;
    color: white;
    border-radius: 7px;
    background-color: var(--darkSlateGrey);
    border: none;
}

.submit-button {
    cursor: pointer;
}

.submit-button:hover {
    background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(14, 100%, 62%));
    box-shadow: 0px 5px 10px var(--tomato);
    transition: background ease 2s;
}

.success-section {
    display: none;
}

.success-section img {
    margin-top: 124px;
}

.success-section h3 {
    font-size: 40px;
    margin-top: 35px;
    line-height: 1;
}

.success-section p {
    margin-top: 27px;
    line-height: 1.5;
    margin-bottom: 260px;
}

.success-section button {
    padding: 19px 103px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: var(--darkSlateGrey);
}

.success-section button:hover {
    background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(14, 100%, 62%));
    box-shadow: 0px 5px 10px var(--tomato);
    transition: background ease 2s;
}

@media(min-width:769px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        max-width: 930px;
        width: 100%;
        padding: 23px;
        border-radius: 35px;
    }

    header {
        margin: auto;
        overflow: hidden;
        flex: 1;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: block;
    }

    main {
        max-width: 482px;
    }

    section {
        padding: 0px 40px 0 17px;
    }

    h1 {
        font-size: 55px;
        margin-bottom: 18px;
        margin-top: -12px;
        letter-spacing: 0.4px;
    }

    h2 {
        letter-spacing: 0.5px;
        line-height: 1.7;
        margin-bottom: -3px;
    }

    ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    li {
        margin-bottom: 25px;
    }

    .success-section {
        padding: 0px 17px;
    }

    .success-section img {
        margin-top: 0;
    }

    .success-section h3 {
        font-size: 56px;
    }

    .success-section p {
        margin-bottom: 38px;
    }

    .success-section button {
        padding: 19px 103px;
        margin-bottom: 16px;
        width: 100%;
    }
}